* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

.hero {
    background: #1d2026;
    min-height: 100vh;
    width: 100%;
    color:#fff;
    position: relative;

}

nav {
    display: flex;
    align-items: center;
    padding: 20px 8%;
    background: #394352;
}
nav .menu-img {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;

}

nav .logo-png {
    width: 200px;
    margin-right: 30px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;

}

nav ul li a {
    text-decoration: none;
    color: white;

}

.text-container {
    max-width: 850px;
    margin-top: 7%;
    margin-left: 50%;
}

.video-transcoder {
    position: absolute;
    top: 20%;
    left: 5%;
}
.editing {
    width: 40%;
}



